User html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #1A1A1A, #333);
  color: #E9E9E9;
}

:root {
  --primary-color: #3498db;
  --primary-color-hover: #2980b9;
  --border-color: #454545;
  --error-color: red;
  --bg-content: #222;
  /* Darker for better contrast */
}

header,
main {
  padding: 2% 10%;
}

h1,
h2 {
  margin: 20px 0;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  color: var(--primary-color-hover);
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button,
select,
input {
  padding: 12px 18px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button {
  background-color: var(--primary-color);
  color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: var(--primary-color-hover);
}

select,
input {
  background-color: var(--bg-content);
  color: #E9E9E9;
  width: 100%;
  max-width: 400px;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

label {
  display: block;
  /* Stack them */
  margin-bottom: 8px;
  color: #E9E9E9;
}

span {
  display: block;
  /* Stack them for clarity */
  color: var(--error-color);
  font-weight: bold;
  margin-top: 5px;
}

#inputArea,
#outputArea {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bg-content);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}